In [44]:
import pandas as pd
import numpy as np

# pandas version

In [2]:
pd.__version__

'2.0.3'

In [7]:
df=pd.read_csv("raw.githubusercontent.com_alexeygrigorev_datasets_master_housing.csv")

# columns shape

In [27]:
df.shape

(20640, 10)

# missing values

In [15]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

# unique values

In [17]:
len(df.ocean_proximity.unique())

5

In [21]:
near_bay=df[df.ocean_proximity=='NEAR BAY']

In [22]:
near_bay

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
19067,-122.45,38.28,20.0,3306.0,503.0,1374.0,460.0,5.7984,297600.0,NEAR BAY
19068,-122.47,38.29,14.0,3732.0,846.0,1277.0,775.0,2.5658,208000.0,NEAR BAY
19069,-122.45,38.27,25.0,5024.0,881.0,1994.0,838.0,4.2237,262300.0,NEAR BAY
19077,-122.49,38.27,8.0,5092.0,988.0,1657.0,936.0,3.5625,213200.0,NEAR BAY
19104,-122.51,38.17,8.0,5875.0,1115.0,2808.0,1029.0,3.6392,246300.0,NEAR BAY

# mean

In [29]:

near_bay_mean=near_bay.median_house_value.mean()

In [28]:
df.total_bedrooms.mean()

537.8705525375618

In [36]:
df.total_bedrooms=df.total_bedrooms.fillna(near_bay_mean)

# new mean

In [39]:
df.total_bedrooms.mean()

3132.134570766054

In [40]:
(df.ocean_proximity.unique())

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [45]:
new_df=df[df.ocean_proximity=='ISLAND'][["housing_median_age", "total_rooms", "total_bedrooms"]]

In [49]:
x=new_df.to_numpy()

In [50]:
x

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

In [53]:
XTX=np.dot(x.T,x)

In [56]:
inverse_XTX=np.linalg.inv(XTX)

In [51]:
y=np.array([950, 1300, 800, 1000, 1300])

In [57]:
w=np.dot(np.dot(inverse_XTX,x.T),y)

In [58]:
w

array([23.12330961, -1.48124183,  5.69922946])